$blue-1:#044AD7;
$light-gray:#f2f2f2;
$gray: #7E7E7E;
$dark-gray: #1A1A1A;
$teal: #50E3C2;
$font-sans: 'Karla', Helvetica, Arial, sans-serif;
$font-serif: 'adobe-garamond-pro', Times, Georgia, serif;
$font-mono: 'PT Mono', 'Andale Mono', Consolas, monospace;



/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* border box */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

button{
  background-color: inherit;
}

/* Type Styles */

a{
  text-decoration: none;
  color: inherit;
}

body{
  font-family: $font-sans;
  color: $gray;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-family: $font-serif;
  font-size: 1.6em;
  color: $blue-1;
  position: relative;
  font-weight: 400;
}

@font-face{
font-family: 'adobe-garamond-pro', Times, Georgia, serif;
font-style: normal;
font-weight: 400;
}

/* structure */

header{
  background-color: $blue-1;
  height: 600px;
  padding: 0 40px;
}

header section{
  margin: 0 auto;
  max-width: 1170px;
}

.profile-bg{
  background: url("../img/profile-bg.jpg") top right no-repeat;
  background-color: #000000;
}

nav{
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  overflow: hidden;
}

.logo{
  background: url("../img/am-logo.svg") no-repeat center center;
  width: 38px;
  height: 32px;
  overflow: hidden;
  opacity: 1;
    transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -webkit-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
}

.logo:hover{
  opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
   -moz-transition: opacity 0.3s ease-in-out;
   -webkit-transition: opacity 0.3s ease-in-out;
   -o-transition: opacity 0.3s ease-in-out;
}

.intro-text{
font-size: 24px;
color: #ffffff;
line-height: 32px;
margin: 200px auto 0 auto;
float: left;
position: relative;
width: 50%;
}

.intro-text:after{
content: '\2193';
position: absolute;
left: 0;
bottom: -60px;
opacity: 0.6;
 }

 .intro-text a{
  border-bottom: 1px solid $teal;
  padding-bottom: 2px;
 }

.logo{
  float: left;
}

.menu-right{
  float: right;
}

.menu-right li{
  font-size: 1em;
  margin-left: 60px;
  color: #ffffff;
  display: inline;
}

.menu-right li a{
  color: #ffffff;
  border-bottom: 1px solid transparent;
  padding-bottom: 8px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
 -moz-transition: all 0.3s ease-in-out;
 -webkit-transition: all 0.3s ease-in-out;
 -o-transition: all 0.3s ease-in-out;
}

.menu-right li a:hover{
  color: #ffffff;
  border-bottom: 1px solid $teal;
  padding-bottom: 2px;
  opacity: 1;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.mobile-menu{
  display: none;
  float: right;
}

main{
  max-width: 1170px;
  margin: 0 auto;
}

section{
  clear: both;
}

section.wrapper{
  padding: 60px 0;
  height: auto;
}

.clients{
  margin-bottom: 200px;
}

.section-title{
  background: transparent;
  width: 48%;
  // height: 20em;
  float: left;
  margin: 10px;
}

.section-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -40px;
  height: 2px;
  width: 30px;
  background-color: currentColor;
}

.project{
  width: 48%;
  height: 20em;
  float: left;
  margin-bottom: 60px;
  padding: 20px;
  margin: 10px;
  position: relative;
}

.project_thumbnail_name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  font-size: 1em;
  background-color: rgba(4,74,215,.9);
  color: #ffffff;
  padding: 40px 0 0 40px;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.project_thumbnail_name:hover{
  opacity: 1;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.project_thumbnail_name:after{
  content: "\2192";
  margin-left: 10px;
}

.project_title{
  font-family: $font-serif;
  font-size: 48px;
  color: #ffffff;
  line-height: 32px;
  margin: 360px auto 0 auto;
  float: left;
  position: relative;
  width: 50%;
}

.project-bg{
  background: url("../img/project-bg.png") center center no-repeat;
  background-size: cover;
  background-color: $blue-1;
}

.project-wrapper{
  width: 100%;
  margin: 60px auto;
}

.project-wrapper img{
  width: 100%;
  margin: 60px 0;
}

.project-wrapper p{
  width: 60%;
  margin: 0 auto 20px auto;
}

.project-wrapper blockquote{
  font-family: $font-serif;
  font-size: 1.6em;
  font-style: italic;
  line-height: 1.3em;
  border-left: 2px solid $blue-1;
  padding: 0px 0px 8px 40px;
  margin: 40px auto 20px auto;
  color: $blue-1;
  width: 80%;
}

.pur{
  background: white url("https://images.unsplash.com/photo-1429042595042-d9bb87d4ea82?q=80&fm=jpg&s=11a9eaca10009b29aa1e0d1244fc8a88") no-repeat center center;
  background-size: 100%;
}

.cambie{
  background: white url("https://images.unsplash.com/photo-1429041966141-44d228a42775?q=80&fm=jpg&s=364e3e1c869c2f4b9fbecaae1e0778df") no-repeat center center;
  background-size: 100%;
}

.montauk{
  background: white url("https://images.unsplash.com/photo-1433959352364-9314c5b6eb0b?q=80&fm=jpg&s=e3bfea02f099f5b8a177fa03f01fb46e") no-repeat center center;
  background-size: 100%;
}

.placeholder{
  background: white url("https://images.unsplash.com/photo-1425315283416-2acc50323ee6?q=80&fm=jpg&s=94c3e17a79354c33dbd59ced862b1460") no-repeat center center;
  background-size: 100%;
}


.latest{
  width: 100%;
  background: $light-gray;
  clear: left;
  color: #1959D3;
  padding: 80px 0;
}

.latest li{
  margin: 0 0 50px 0;
  font-size: 1.4em;
  font-family: $font-sans;
  color: $dark-gray;
  font-weight: 400;
  line-height: 1.4em;
}

.journal-wrap{
  margin: 0 auto;
  width: 1170px;
}

.journal-number{
  font-family: $font-mono;
  font-size: 14px;
  color: #7E7E7E;
}

.journal-title{
  background: transparent;
  width: 48%;
  height: 20em;
  float: left;
  margin: 10px;
}

.journal-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -40px;
  height: 2px;
  width: 30px;
  background-color: currentColor;
}

.select-works{
  background: transparent;
  width: 48%;
  height: 20em;
  float: left;
  margin: 10px;
}

.service{
  margin-bottom: 90px;
}

.services{
  width: 25%;
  float: left;
  font-family: $font-mono;
  font-size: 14px;
}

.job-entry{
  width: 50%;
  float: right;
  clear: right;
  margin-bottom: 60px;
}

.job-length{
  width: 50%;
  float: left;
  font-family: $font-mono;
  font-size: 14px;
}

.job-details{
  width: 50%;
  float: left;
  font-family: $font-sans;
  color: $dark-gray;
  font-size: 16px;
}

.job-details li a{
  color: $gray;
  transition: color 0.3s ease-in-out;
 -moz-transition: color 0.3s ease-in-out;
 -webkit-transition: color 0.3s ease-in-out;
 -o-transition: color 0.3s ease-in-out;
}

.job-details li a:hover{
  color: $blue-1;
  transition: color 0.3s ease-in-out;
 -moz-transition: color 0.3s ease-in-out;
 -webkit-transition: color 0.3s ease-in-out;
 -o-transition: color 0.3s ease-in-out;
}

// FOOTER //

footer{
  font-size: 16px;
  font-family: $font-sans;
  line-height: 2em;
  color: #505050;
  background-color: $dark-gray;
  min-height: 180px;
  width: 100%;
  padding: 60px 0 20px 0;
  overflow: hidden;
  position: relative;
}

footer a{
    color: inherit;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

footer a:hover{
    color: #ffffff;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}


footer section{
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1170px;
}

section .col-1{
  float: left;
  width: 25%;
}

section .col-2{
  float: left;
  width: 25%;
  padding: 0 10px;
}

section .social{
  float: left;
  width: 50%;
}

section .social ul{
  float: right;
}

.social li{
  padding: 0 18px;
  display: inline;
  opacity: 0.3;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.social li:hover{
    opacity: 1.0;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.dribbble{
  background: url(../img/dribbble.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}

.twitter{
  background: url(../img/twitter.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}

.medium{
  background: url(../img/medium.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}

.instagram{
  background: url(../img/instagram.svg) no-repeat center center;
  width: 20px;
  height: 20px;
}

.latlong{
  font-family: $font-sans;
  font-size: 22px;
  color: #333333;
  clear: both;
  float: right;
  padding-top: 40px;
}

::-webkit-selection { 
background : #044AD7; 
color: #ffffff; 
text-shadow : none; }

::-moz-selection { 
background : #044AD7; 
color: #ffffff; 
text-shadow : none; }

::selection { 
background: #044AD7; 
color: #ffffff; 
text-shadow : none; }

/* -----------------------------------------------------------------------------

  HAMBURGER ICONS COMPONENT
  
----------------------------------------------------------------------------- */
/**
 * Toggle Switch Globals
 *
 * All switches should take on the class `c-hamburger` as well as their
 * variant that will give them unique properties. This class is an overview
 * class that acts as a reset for all versions of the icon.
 */
.c-hamburger {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 15px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

/**
 * Style 2
 * 
 * Hamburger to "x" (htx). Takes on a hamburger shape, bars slide
 * down to center and transform into an "x".
 */
// .c-hamburger--htx {
//   background-color: #ff3264;
// }

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}

/* Mobile Styling */

@media (max-width: 800px){

.menu-right{
  display: none;
}

.mobile-menu{
  display: inline;
  float: right;
}

section .col-1{
  float: left;
  width: 80%;
}

section .col-2{
  float: left;
  width: 80%;
  padding: 0;
  clear: left;
}

section .social{
  float: left;
  clear: left;
  width: 80%;
  margin-top: 30px;
}

section .social ul{
  float: left;
}

.intro-text{
width: 80%;
}

.social li{
  padding-right: 18px;
  display: inline;
  opacity: 0.3;
    transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -webkit-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
}

.project-wrapper p{
  width: 80%;
  margin: 0 auto 20px auto;
}

}









